.homepage {
    margin-top: 100px;
    width: 100vw;
    height: 49vh;
    color: darkorange;
    font-style: italic;
}

.info {
    font-family: 'Urbanist', sans-serif;
    color: aliceblue;
    padding: 0px 50px;
}